body {
    background: #e6f0ff;
    font-family: Arial;
    margin: 0;
    padding: 0;
}
h2 {
    color: #1a73e8;
}
a {
    color: #1a73e8;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
form {
    background: #fff;
    padding: 20px;
    margin: 40px auto;
    width: 400px;
    box-shadow: 0 0 10px #aaa;
    border-radius: 8px;
}
input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
input[type="submit"] {
    background-color: #1a73e8;
    color: white;
    border: none;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #155ab6;
}
